<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="site-footer-wrap">
		<div class="site-middle-footer-wrap site-footer-row-container site-footer-focus-item site-footer-row-layout-standard site-footer-row-tablet-layout-default site-footer-row-mobile-layout-default" data-section="kadence_customizer_footer_middle">
	<div class="site-footer-row-container-inner">
				<div class="site-container">
			<div class="site-middle-footer-inner-wrap site-footer-row site-footer-row-columns-3 site-footer-row-column-layout-equal site-footer-row-tablet-column-layout-default site-footer-row-mobile-column-layout-row ft-ro-dir-row ft-ro-collapse-normal ft-ro-t-dir-default ft-ro-m-dir-default ft-ro-lstyle-plain">
									<div class="site-footer-middle-section-1 site-footer-section footer-section-inner-items-1">
						<div class="footer-widget-area widget-area site-footer-focus-item footer-widget1 content-align-default content-tablet-align-default content-mobile-align-default content-valign-default content-tablet-valign-default content-mobile-valign-default" data-section="sidebar-widgets-footer1">
	<div class="footer-widget-area-inner site-info-inner">
		<section id="block-13" class="widget widget_block widget_text">
<p><strong>Euro Auto Service si Statie ITP Constanta CT060</strong><br>Str. Dumitru (Tache) Brumărescu nr. 24, Constanța<br>0729440127</p>
</section>	</div>
</div><!-- .footer-widget1 -->
					</div>
										<div class="site-footer-middle-section-2 site-footer-section footer-section-inner-items-1">
						<div class="footer-widget-area widget-area site-footer-focus-item footer-widget2 content-align-default content-tablet-align-default content-mobile-align-default content-valign-default content-tablet-valign-default content-mobile-valign-default" data-section="sidebar-widgets-footer2">
	<div class="footer-widget-area-inner site-info-inner">
		<section id="block-19" class="widget widget_block"><style>.wp-block-kadence-advancedheading.kt-adv-heading33f110-d6, .wp-block-kadence-advancedheading.kt-adv-heading33f110-d6[data-kb-block="kb-adv-heading33f110-d6"]{text-align:center;font-style:normal;}.wp-block-kadence-advancedheading.kt-adv-heading33f110-d6 mark.kt-highlight, .wp-block-kadence-advancedheading.kt-adv-heading33f110-d6[data-kb-block="kb-adv-heading33f110-d6"] mark.kt-highlight{font-style:normal;color:#f76a0c;-webkit-box-decoration-break:clone;box-decoration-break:clone;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}.wp-block-kadence-advancedheading.kt-adv-heading33f110-d6 img.kb-inline-image, .wp-block-kadence-advancedheading.kt-adv-heading33f110-d6[data-kb-block="kb-adv-heading33f110-d6"] img.kb-inline-image{width:150px;vertical-align:baseline;}</style>
<p class="kt-adv-heading33f110-d6 wp-block-kadence-advancedheading" data-kb-block="kb-adv-heading33f110-d6"><a href="/contact/" data-type="link" data-id="/contact/">Contact</a></p>
</section>	</div>
</div><!-- .footer-widget2 -->
					</div>
										<div class="site-footer-middle-section-3 site-footer-section footer-section-inner-items-1">
						<div class="footer-widget-area widget-area site-footer-focus-item footer-widget3 content-align-default content-tablet-align-default content-mobile-align-default content-valign-default content-tablet-valign-default content-mobile-valign-default" data-section="sidebar-widgets-footer3">
	<div class="footer-widget-area-inner site-info-inner">
		<section id="block-21" class="widget widget_block">
<div class="wp-block-kadence-advancedbtn kb-buttons-wrap"><style>ul.menu .wp-block-kadence-advancedbtn .kb-btn49e825-fc.kb-button{width:initial;}</style><a class="kb-button kt-button button kb-btn49e825-fc kt-btn-size-standard kt-btn-width-type-auto kb-btn-global-fill  kt-btn-has-text-true kt-btn-has-svg-false  wp-block-kadence-singlebtn" href="https://www.waze.com/ro/live-map/directions/euro-auto-service-statie-itp-ct060-str.-dumitru-(tache)-brumarescu-constanta?utm_campaign=default&amp;utm_source=waze_website&amp;utm_medium=lm_share_location&amp;to=place.w.18743738.187437379.12268909"><span class="kt-btn-inner-text">Waze</span></a></div>
</section>	</div>
</div><!-- .footer-widget3 -->
					</div>
								</div>
		</div>
	</div>
</div>
<div class="site-bottom-footer-wrap site-footer-row-container site-footer-focus-item site-footer-row-layout-standard site-footer-row-tablet-layout-default site-footer-row-mobile-layout-default" data-section="kadence_customizer_footer_bottom">
	<div class="site-footer-row-container-inner">
				<div class="site-container">
			<div class="site-bottom-footer-inner-wrap site-footer-row site-footer-row-columns-1 site-footer-row-column-layout-row site-footer-row-tablet-column-layout-default site-footer-row-mobile-column-layout-row ft-ro-dir-row ft-ro-collapse-normal ft-ro-t-dir-default ft-ro-m-dir-default ft-ro-lstyle-plain">
									<div class="site-footer-bottom-section-1 site-footer-section footer-section-inner-items-1">
						<div class="footer-widget-area widget-area site-footer-focus-item footer-widget6 content-align-default content-tablet-align-default content-mobile-align-default content-valign-default content-tablet-valign-default content-mobile-valign-default" data-section="sidebar-widgets-footer6">
	<div class="footer-widget-area-inner site-info-inner">
		<section id="block-29" class="widget widget_block"><style>.wp-block-kadence-advancedheading.kt-adv-heading9803fc-4f, .wp-block-kadence-advancedheading.kt-adv-heading9803fc-4f[data-kb-block="kb-adv-heading9803fc-4f"]{font-style:normal;}.wp-block-kadence-advancedheading.kt-adv-heading9803fc-4f mark.kt-highlight, .wp-block-kadence-advancedheading.kt-adv-heading9803fc-4f[data-kb-block="kb-adv-heading9803fc-4f"] mark.kt-highlight{font-style:normal;color:#f76a0c;-webkit-box-decoration-break:clone;box-decoration-break:clone;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}.wp-block-kadence-advancedheading.kt-adv-heading9803fc-4f img.kb-inline-image, .wp-block-kadence-advancedheading.kt-adv-heading9803fc-4f[data-kb-block="kb-adv-heading9803fc-4f"] img.kb-inline-image{width:150px;vertical-align:baseline;}</style>
<h6 class="kt-adv-heading9803fc-4f wp-block-kadence-advancedheading" data-kb-block="kb-adv-heading9803fc-4f">Ultimele articole</h6>
</section><section id="block-24" class="widget widget_block">
<div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained"><ul class="wp-block-latest-posts__list is-grid columns-3 aligncenter wp-block-latest-posts"><li><a class="wp-block-latest-posts__post-title" href="/calculator-amortizare-instalatie-gpl/">Calculator Amortizare Instalație GPL</a></li>
<li><a class="wp-block-latest-posts__post-title" href="/calculator-interval-schimb-ulei/">Calculator Interval Schimb Ulei</a></li>
<li><a class="wp-block-latest-posts__post-title" href="/tipurile-de-antigel-auto/">Tipurile de Antigel Auto</a></li>
<li><a class="wp-block-latest-posts__post-title" href="/fumul-de-la-busonul-uleiului-de-motor-cauze-diagnostic-si-solutii/">Fumul de la bușonul uleiului de motor: cauze, diagnostic și soluții</a></li>
<li><a class="wp-block-latest-posts__post-title" href="/schimbare-motor-in-constanta/">Schimbare Motor în Constanța</a></li>
</ul></div>
</section>	</div>
</div><!-- .footer-widget6 -->
					</div>
								</div>
		</div>
	</div>
</div>
	</div>
</footer><!-- #colophon -->
